:root{
  --background-color: #ffffff;
}

html {
  background-color: var(--background-color);
}

body {
  margin: 0 !important;
}

.App {
  background-color:  var(--background-color);
  text-align: center;
}
